body {margin: 0;
      padding: 0;
      background-color: #efeee7;
      font: 'Georgia', 'times new roman', 'times', 'serif';
      color: #333333;
      Line-height: 150%;
     }

header {background-color: #333333;}


h1 {color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
}

h2 {font-size: 24px;
}
.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20;
}

a {
    color: #d21034;
}